.features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 2em 4em;
  height: 40vh;
  position: relative;
  .features-left {
    .features-title {
      font-size: 3em;
      padding-bottom: 20px;
    }

    .features-subtitle {
      font-size: 16px;
      width: 70%;
      margin: 0;
    }

    .features-background-image {
      position: absolute;
      margin-left: -500px;
      z-index: -1111;
    }
  }
}


@media screen and (max-width:500px) {
  .features {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;

    .features-left {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;

      .features-title {
        font-size: 2em;
        padding-bottom: 0;
      }

      .features-subtitle {
        width: 100%;
        padding-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .features {
    height: 600px;
    margin-bottom: 100px;
  }
}