.footer-banner {
    display: flex;
    align-items: center;
    padding: 60px 4em;
    margin-top: 100px;
    background-color: #f3603c;
    
    
    .footer-banner-left {
        display: flex;
        justify-content: left;
        text-align: left;
        margin: 0;
        font-size: 2rem;
        width: 50%;
 
        .footer-banner-text {
            color:white;
        }
    }
    .footer-banner-right {
        display: flex;
        justify-content: flex-end;
        text-align: left;
        margin: 0;
        width: 50%;
        
        button {
            width: 140px;
            padding: 1rem 2rem;
            font-size: .8rem;
            border-radius: 20px;
            border: 1px solid #f3603c;
            background-color: white;
            color: #f3603c;
            font-weight: bold;
            margin: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
          }
    }
}


