
.testimonials-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8em 0;

  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
    height: 100%;
    text-align: center;
    padding: 1em;
    overflow: visible;

    .testimonial-avatar {
      margin-top: -50px;
      height: 80px;
    }

    .testimonial-author {
      padding: 1em 0;
    }

    .testimonial-quote {
      padding: 1em 0;
    }
  }
}