
.testimonials-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8em 0;

  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: hsl(0, 8%, 95%);
    height: 100%;
    text-align: center;
    padding: 1em;
    overflow: visible;
    cursor: grabbing;
    .testimonial-avatar {
      margin-top: -50px;
      height: 80px;
      padding-bottom: .5em;
    }

    .testimonial-author {
      padding: 1em 0;
    }

    .testimonial-quote {
      padding: 1em 0;
    }
  }
}

@media screen and (max-width:500px) {
  .testimonials-container {
    .testimonial {
      .testimonial-avatar {
        width: 15%;
        object-fit: cover;
        border-radius: 50%;
        margin: -50px auto 0 auto;
      }
    }
  }
}