header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2em;
  align-items: center;

  nav {
    display: flex;
    align-items: center;
    .nav-list {
      list-style: none;
      display: flex;

      .nav-link-item {
        margin: 0 1em;
        cursor: pointer;
      }
    }

    .mobile-nav {
      display: none;
    }
  }

  .nav-cta {
    display: flex;
    align-items: center;
    padding: 1em 1.8em;
    border-radius: 20px;
    color: white;
    background-color: #f3603c;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 2em;
    nav {
      .hidden {
        display: none;
      }
      .mobile-nav {
        display: flex;
        cursor: pointer;
      }
      .mobile-nav-list {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        background-color: white;
        z-index: 9999;
        position: absolute;
        top: 18.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
        padding: 0.5em 0;
        border-radius: 5px;

        .mobile-nav-item {
          padding: 1.2em 0;
          margin: 0;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            transition: 1s ease;
          }
        }
      }
    }

    .nav-cta-container {
      display: none;
    }
  }
}

