.testimonialsSection-title {
  text-align: center;
}

button {
  width: 140px;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: none;
  background-color: #f3603c;
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
