.feature {
    display: flex;
    margin-left: 5em;

    .feature-col-1 {
        flex:1;

        .feature-number {
            background-color: #f3603c;
            color: white;
            text-align: center;
            margin: 0 1em;
            padding: .8em 1.3em;
            border-radius: 20px;
            font-size: .8em;
            font-weight: bolder;
        }
    }

    .feature-col-2{
        flex:10;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: .5em 0;

        .feature-title {
            margin: 0;
            padding-bottom: 1em;
        }

        .feature-description {
            width: 75%;
            margin: 0;
        }
    }
}