.feature {
  display: flex;
  margin-left: 5em;

  .feature-col-1 {
    flex: 1;

    .feature-number {
      background-color: #f3603c;
      color: white;
      text-align: center;
      margin: 0 1em;
      padding: 0.8em 1.3em;
      border-radius: 20px;
      font-size: 0.8em;
      font-weight: bolder;
    }
  }

  .feature-col-2 {
    flex: 10;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5em 0;

    .feature-title {
      margin: 0;
      padding-bottom: 1em;
    }

    .feature-description {
      width: 75%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .feature {
    margin: 0;
    display: flex;

    .feature-col-1 {
        margin: .4em;
        margin-left: -3em;
    }

    .feature-col-2 {
        display: flex;
        justify-content: center;
        align-items: center;
      
        .feature-title {
            display: flex;
            align-items: center;
            height: 50px;
      }

      .feature-description {
          text-align: left;
          width: 125%;
      }
    }
  }
}
