.footer {
  background-color: #0b0c22;
  padding: 2em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-links-two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer .footer-col-1 .footer-socials .footer-social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-col-1 .footer-socials .footer-social-list .footer-social-link {
  margin: 0 0.5em;
}

.footer .footer-col-2 {
  cursor: pointer;
}

.footer .footer-col-2 .footer-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.footer .footer-col-2 .footer-nav-list .footer-link {
  color: white;
}

.footer .footer-col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.footer .footer-col-4 .footer-email-req {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-col-4 .footer-email-req input {
  height: 30px;
  width: 200px;
  margin: 0 1.5em;
  border-radius: 20px;
  border: none;
  padding: 0.5em 1em;
}

.footer .footer-col-4 .footer-email-req button {
  padding: .5rem 1.2rem;
  border-radius: 20px;
  border: none;
  background-color: #f3603c;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}

.footer .footer-col-4 .footer-copyright {
  width: 100%;
  text-align: right;
  color: #9095a7;
}

@media screen and (max-width: 500px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  .footer .footer-links-two-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
  }
  .footer .footer-col-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer .footer-socials {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-socials .footer-social-link {
    font-size: 2em;
  }
}
/*# sourceMappingURL=Footer.css.map */