.hero {
  display: flex;
  width: 100%;
  padding: 2em 4em;
  margin-top: 1rem;

  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    .hero-title {
      font-size: 3rem;
      padding-bottom: 3rem;
      width: 90%;
      margin: 0;
    }
    .hero-subtitle {
      padding-bottom: 3rem;
      width: 70%;
      text-align: left;
      margin: 0;
      font-style: normal;
      font-weight: lighter;
    }
    .hero-cta {
      display: flex;
      width: 140px;
      padding: 1rem 1.5rem;
      border-radius: 20px;
      border: none;
      background-color: #f3603c;
      color: white;
      margin: 0;
      cursor: pointer;
      justify-content: center;
      text-align: center;
    }
  }

  .hero-right {
    position: relative;
    align-items: center;
    .background-image-container {
      position: absolute;
      bottom: 100px;
      z-index: -1000;
    }

    .background-hero-image {
      .hero-image {
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .hero-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .background-image-container {
        top: -450px;
        left: 50px;
      }
      .background-hero-image {
        .hero-image {
          margin: 0 auto;
          width: 100%;
        }
      }
    }

    .hero-left {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .hero-title {
        margin-top: 50px;
        font-size: 2rem;
        width: 100%;
        padding-bottom: 10px;
      }

      .hero-subtitle {
        text-align: center;
        width: 100%;
        
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .hero {
    .hero-left {
      .hero-cta {
        margin-bottom: 40px;
      }
    }
  }
}
